html {
    font-family: 'Microsoft YaHei', 'Hiragino Sans GB', 'simsun';
}

* {
    overflow: auto;
}

#chose,
#chosed,
#ctrlPano {
    margin: 30px auto;
    width: 800px;
    height: auto;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 30px;
}

#chose>div {
    float: left;
}

#redContainer {
    width: 500px;
}

#blueContainer {
    width: 300px;
}

span[class*='Span'] {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #eee;
    line-height: 30px;
    text-align: center;
    float: left;
    cursor: pointer;
    margin: 3px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.redSpan {
    color: red;
}

.redSpan.active {
    color: white;
    background-color: red;
}

.blueSpan {
    color: blue;
}

.blueSpan.active {
    color: white;
    background-color: blue;
}

.btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid red;
    background-color: #ffffff;
    color: #8a8a8a;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #dedede;
    color: #ffffff;
}

.float {
    float: left;
}

.input {
    width: 120px;
    height: 42px;
    line-height: 40px;
    text-align:bottom;
    margin: 4px 20px 4px 0px;
}

.input>input {
    width: 60px;
    height: 30px;
    line-height: 40px;
    border-width: 0px 0px 1px 0px;
    border-color: #8a8a8a;
    border-style: solid;
    outline: none;
}
